# 🔒 Arquivos sensíveis
.env
.env.*  # para caso use .env.development etc.

# 📦 Node.js (backend)
backend/node_modules/
backend/package-lock.json
backend/.DS_Store
backend/dist/
backend/uploads/

# 🧱 React (frontend)
frontend/node_modules/
frontend/.DS_Store
frontend/build/
frontend/dist/
frontend/.env

# 🧪 Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 Sistema
.DS_Store
Thumbs.db

# ⚙️ Editor
.vscode/
.idea/
*.swp

# 🚀 Deploy (caso use)
*.tgz
*.zip
